@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(238, 175, 81);
}
* {
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    background-image: url(/assets/img/undraw_time_management_30iu.svg);
    background-position: top center;
    background-size: unset;
    background-repeat: no-repeat;
}
.container {
    max-width: 260px;
    margin: 260px auto;
    padding: 20px;
    border-radius: 300px 300px;
}
.clock {
    font-size: 3em;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: -13px;
}
.paused {
    color: red;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
p {
    text-align: center;
}
.name {
    text-align: center;
    color: white;
    font-style: italic;
    margin-top: 400px;
}
.start {
    width: 60px;
}
.pause {
    width: 60px;
    margin-left: -3px;
}
.end {
    width: 60px;
    margin-left: -3px;
}
@media (max-width: 800px) {
    .name {
        margin-top: 280px;
    }
    body {
        background-size: 130%;
        background-position: top center;
    }
    .container {
        margin-top: 82px;
    }
}