@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(238, 175, 81);
}
* {
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.clock {
    font-size: 3em;
}
.paused {
    color: red;
}
h1 {
    text-align: center;
    color: rgb(238, 175, 81);
}
p {
    text-align: center;
}
.name {
    text-align: center;
    color: white;
    font-style: italic;
}
.start {
    width: 80px;
}
.pause {
    width: 80px;
    margin-left: 20px;
}
.end {
    width: 80px;
    margin-left: 20px;
}